html, body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  padding: 1%;
  width: 99vw;
  background-image: url('../img/kosmos-pejzazh-planety-11712.jpeg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 10% 5%;
  white-space: pre-wrap;
  border-radius: 20px;
}
header p {
  line-height: 150%;
  color: gainsboro;
}

.title-one {
  margin-bottom: 5%;
  font-size: 52px;
  color: seagreen;
  text-shadow: 2px 2px white;
  text-align: center;
  transform: translate(0px, 120%);
  opacity: 0;
}
.title-one._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0s;
  opacity: 1;
}

.photo {
  width: 400px;
  height: 520px;
  border-radius: 5%;
  float: right;
  box-shadow: 10px 10px 5px rgba(40, 110, 40, 0.5);
  cursor: pointer;
  transition: .3s;
  transform: scale(0);
  opacity: 0;
}
.photo._active {
  transform: scale(1);
  transition: transform 1.2s ease .5s;
  opacity: 1;
}
.about {
  font-size: 25px;
  box-shadow: 15px 15px 15px rgba(0, 128, 0, 0.7) inset;
}

.education {
  text-align: center;
  border-radius: 20px;
}
.education h2 {
  margin-top: 5%;
  font-size: 52px;
  color: #ff9500;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.67);
  transform: translate(0px, 120%);
  opacity: 0;
}
.education h2._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease .3s;
  opacity: 1;
}
.description-education {
  display: flex;
  padding: 5%;
}
.description-education-frontend h3 {
  font-size: 32px;
  color: cornflowerblue;
  text-shadow: 1px 1px black;
}
.description-education-backend h3 {
  font-size: 32px;
  color: green;
  text-shadow: 1px 1px black;
}
.description-education-frontend img, .description-education-backend img {
  margin: 5% 0 0;
  width: 70%;
  cursor: pointer;
  transition: .5s;
}
.description-education-frontend img {
  box-shadow: 20px 20px 100px rgba(0, 0, 255, 0.5);
}
.description-education-backend img {
  box-shadow: 20px 20px 100px rgba(0, 128, 0, 0.5);
}
.description-education-frontend img:hover, .description-education-backend img:hover {
  width: 100%;
}
.description-education-frontend {
  transform: translate(-10%, 50%);
  opacity: 0;
}
.description-education-backend {
  transform: translate(10%, 50%);
  opacity: 0;
}
.description-education-frontend._active, .description-education-backend._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s ease .2s;
}

.projects {
  border-radius: 20px;
  margin: 0 -1% 5%;
}
.projects>h2 {
  margin: 5% 0;
  font-size: 52px;
  color: rgb(255, 149, 0);
  text-shadow: 2px 2px black;
  text-align: center;
  transform: translate(0px, 120%);
  opacity: 0;
}
.projects>h2._active {
  transform: translate(0px, 0px);
  transition: all 0.8s ease .3s;
  opacity: 1;
}

.task-box {
  width: 100%;
  height: 300px;
  position: relative;
  transform: translateX(-100%);
  opacity: 0;
}
.task-box._active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 1s ease .4s;
}

.preview-task-box {
  width: 30%;
  border-radius: 0 20px 0 0;
  background-color: aliceblue;
  transition: .5s;
  text-align: center;
  cursor: pointer;
}
.preview-task-box-two, .preview-task-box-four {
  border-radius: 20px 0 0 0;
  position: absolute;
  right: 0;
}
.preview-task-box:hover {
  width: 70%;
  box-shadow: 5px 5px 10px cornflowerblue;
}

.description-task-box {
  padding: 2% 0 2% 10%;
  text-align: left;
  font-size: 20px;
}
.description-task-box-visible {
  display: none;
}

footer {
  padding: 3% 0 0%;
  border-radius: 20px;
}
.footer-list {

}
.list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  opacity: 0;
  transform: scale(0);
}
.list._active {
  transform: scale(1);
  opacity: 1;
  transition: all 1.5s ease .3s;
}
.item-list {
  cursor: pointer;
  transition: transform .3s;
}
.item-list:hover {
  transform: scale(1.5);
}
